.wtrSchedule-header {
    text-align: Center;
    color: #126118;
    font-size: 30px;
  }
  
  .wtrSchedules {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .header-new-wtrSchedule {
    text-align: Center;
    color: #126118;
    font-size: 30px;
  }
  
  .header-edit {
    text-align: Center;
    color: #126118;
    font-size: 30px;
  }
  