.wtrSchedule-header {
    text-align: Center;
    color: #126118;
    font-size: 30px;
  }
  
  .wtrSchedules {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .header-new-wtrSchedule {
    text-align: Center;
    color: #126118;
    font-size: 30px;
  }
  
  .header-edit {
    text-align: Center;
    color: #126118;
    font-size: 30px;
  }
  
  .wtrSchedule-container {
    display: inline-block;
  }

  .WtrSchedules{
    border: 3px solid rgb(76, 99, 71);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(110, 140, 118);
}